
{% extends 'base.html' %}
{% load static %}

	{% block body %}

	<div class="hero">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="intro-wrap">
						<h1 class="mb-5"><span class="d-block">Let's Enjoy Your</span> Trip In <span class="typed-words"></span></h1>

						<div class="row">
							<div class="col-12">
								<form class="form">
									<div class="row mb-2">
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
											<select name="" id="" class="form-control custom-select">
												<option value="">Destination</option>
												<option value="">Barisal</option>
												<option value="">Chittagong</option>
												<option value="">Khulna</option>
												<option value="">Mymensingh</option>
												<option value="">Rajshahi</option>
												<option value="">Rangpur</option>
												<option value="">Sylhet</option>
												
											</select>
										</div>
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-5">
											<input type="text" class="form-control" name="daterange">
										</div>
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
											<input type="text" class="form-control" placeholder="# of People">
										</div>

									</div>    
									<div class="row align-items-center">
										<div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-4">
											<input type="submit" class="btn btn-primary btn-block" value="Search">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="slides">
						<img src="{% static 'images/hero-slider-1.jpg' %}" alt="Image" class="img-fluid active">
						<img src="{% static 'images/hero-slider-2.jpg' %}" alt="Image" class="img-fluid">
						<img src="{% static 'images/hero-slider-3.jpg' %}" alt="Image" class="img-fluid">
						<img src="{% static 'images/hero-slider-4.jpg' %}" alt="Image" class="img-fluid">
						<img src="{% static 'images/hero-slider-5.jpg' %}" alt="Image" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="untree_co-section">
		<div class="container">
			<div class="row mb-5 justify-content-center">
				<div class="col-lg-6 text-center">
					<h2 class="section-title text-center mb-3">Our Services</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				</div>
			</div>
			<div class="row align-items-stretch">
				

				<div class="col-6 col-sm-6 feature-1-wrap d-md-flex flex-md-column order-lg-1" >

					<div class="feature-1 d-md-flex">
						<div class="align-self-center">
							<span class="flaticon-house display-4 text-primary"></span>
							<h3>Beautiful Condo</h3>
							<p class="mb-0">Make your trip more secure, safer, and more enjoyable.</p>
						</div>
					</div>

					<div class="feature-1 ">
						<div class="align-self-center">
							<span class="flaticon-restaurant display-4 text-primary"></span>
							<h3>Restaurants & Cafe</h3>
							<p class="mb-0">We will launch this service very soon.</p>
						</div>
					</div>

				</div>

				<div class="col-6 col-sm-6 feature-1-wrap d-md-flex flex-md-column order-lg-3" >

					<div class="feature-1 d-md-flex">
						<div class="align-self-center">
							<span class="flaticon-mail display-4 text-primary"></span>
							<h3>Easy to Connect</h3>
							<p class="mb-0">You can reach us via call, email, and website 24/7.</p>
						</div>
					</div>

					<div class="feature-1 d-md-flex">
						<div class="align-self-center">
							<span class="flaticon-phone-call display-4 text-primary"></span>
							<h3>24/7 Support</h3>
							<p class="mb-0">Phone: 01773023181</p>
							<p class="mb-0">SoS: 999></p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="untree_co-section count-numbers py-5">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="9313">0</span>
						</div>
						<span class="caption">No. of Travels</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="8492">0</span>
						</div>
						<span class="caption">No. of Clients</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="100">0</span>
						</div>
						<span class="caption">No. of Employees</span>
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3">
					<div class="counter-wrap">
						<div class="counter">
							<span class="" data-number="120">0</span>
						</div>
						<span class="caption">No. of Countries</span>
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- Popular Destinations slider code:  -->
	<div class="untree_co-section">
		<div class="container">
			<div class="row text-center justify-content-center mb-5">
				<div class="col-lg-7"><h2 class="section-title text-center">Popular Destination</h2></div>
			</div>

			<div class="owl-carousel owl-3-slider">

				{% for place in destination_Objects %}
				<div class="item">
					<a class="media-thumb" href="/media/{{place.images}}" data-fancybox="gallery">
						<div class="media-text">
							<h3>{{place.spot_Title}}</h3>
							<span class="location">{{place.place_Title}}</span>
						</div>
						<img src="/media/{{place.images}}" alt="Image" class="img-fluid" />
					</a> 
				</div>
				{%endfor%}
			</div>

		</div>
	</div>


	<div class="untree_co-section">
		<div class="container">
			<div class="row justify-content-center text-center mb-5">
				<div class="col-lg-6">
					<h2 class="section-title text-center mb-3">Special Offers &amp; Discounts</h2>
					<p>Elevate your travel dreams while enjoying unbeatable value through our Special Offers & Discounts. From exclusive package deals to limited-time promotions, we believe that extraordinary journeys should be accessible to all. Keep an eye on this section for exciting opportunities to explore Bangladesh's wonders and beyond without compromising on quality. Let us be your gateway to unforgettable adventures, making every trip a perfect balance of affordability and excellence.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
					<div class="media-1">
						<img src="{% static 'images/kuakata.jpg' %}" alt="Image" class="img-fluid">
						
						<div class="d-flex align-items-center">
							<div>
								<h3>Kuakata</h3>
								<div class="price ml-auto">
									<span> 3000 ৳</span>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
					<div class="media-1">
						<img src="{% static 'images/saintmartin.jpg' %}" alt="Image" class="img-fluid">
						
						<div class="d-flex align-items-center">
							<div>
								<h3>SSaint Martins Island</h3>
								<div class="price ml-auto">
									<span> 5000 ৳</span>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
					<div class="media-1">
						<img src="{% static 'images/Sajek.jpg' %}" alt="Image" class="img-fluid">
						
						<div class="d-flex align-items-center">
							<div>
								<h3>Sajek Valley</h3>
								<div class="price ml-auto">
									<span> 3500 ৳</span>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
					<div class="media-1">
						<img src="{% static 'images/ultimatePackage.jpg' %}" alt="Image" class="img-fluid">
						<div class="d-flex align-items-center">
							<div>
								<h3>Cox's Bazar</h3>
								<div class="price ml-auto">
									<span>4000 ৳</span>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="py-5 cta-section">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<h2 class="mb-2 text-white">Lets you Explore the Best. Contact Us Now</h2>
					<p class="mb-4 lead text-white text-white-opacity"></p>
					<p class="mb-0"><a href="/contact/viewContact/" class="btn btn-outline-white text-white btn-md font-weight-bold">Get in touch</a></p>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}